@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #002339;
    color: white;
}
.container {
    margin: 12%;
    width: 90%;
    max-width: 700px;
}
.input-and-icon {
    width: 100%;
    margin: 50px 0 30px 0;
    background-color: white;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 6px;
}
.container h1 {
    font-size: 45px;
    font-weight: 500;
}
.container h1 span {
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}
.input-and-icon img {
    width: 30px;
    cursor: pointer;
}